<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<link rel="stylesheet" href="static/css/styles.css" />
<title>Help Page</title>

<body>
    <div class="container">
        <h1>
            Vector Space Model
        </h1>
        <p align=" center">
            Vector space model or term vector model is an algebraic model for representing
            text documents (and any objects, in general) as vectors of identifiers (such as index terms).
            It is used in information filtering, information retrieval, indexing and relevancy ranking

        </p>
        <h2>Advantages Over Boolean Retrieval Model</h2>
        <p align="center">
            The vector space model has the following advantages over the Standard Boolean model:
        <ul>
            <li>Simple model based on linear algebra</li>
            <li>Term weights not binary</li>
            <li>Allows computing a continuous degree of similarity between queries and documents</li>
            <li>Allows ranking documents according to their possible relevance</li>
            <li>Allows partial matching</li>
        </ul>
        </p>
        <p align="center">
            <a href="/">Return To Search</a>
        </p>

    </div>
</body>

</html>